body{
    background-image: url("loginbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.loginbox{
    border:3px snow;
    padding: 5px 10px;
    background-color: #ddeef7;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}
.logindiv{
    text-align: center;
    color: snow;

}