
body {
    background-image: url("designs/background.jpg");
    background-size: 1540px 1030px;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.header {
    width: 100% ;
    height: 80px ;
    display: block;
    background-color: #101010;
    
    

}
.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    

}
.logo_container {
    height: 100%;
    display: table;  
    float: left;
}
.logo_container img {
    vertical-align: middle;

}
.navigation{
    float:right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right:0 ;
}
.navigation a li{
    display: table-cell;
    vertical-align:middle;
    height: 100%;
    color: rgb(197, 197, 197);
    font-family: 'Century Gothic';
    font-size: 16px;
}

.paragraph h1{
    font-family: 'Century Gothic';
    font-size: 60px;
    font-weight: bold;
    color: ivory;
    text-align: center;
}
.paragraph {
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: bold;
    color:snow;
    display: block;
    text-align: center;
}