
body {
    background-image: url("designs/background.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.header {
    width: 100% ;
    height: 80px ;
    display: block;
    background-color: #101010;
    
    

}
.inner_header {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    

}
.logo_container {
    height: 100%;
    display: table;  
    float: left;
}
.logo_container img {
    vertical-align: middle;

}
.navigation{
    float:right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right:0 ;
}
.navigation a li{
    display: table-cell;
    vertical-align:middle;
    height: 100%;
    color: rgb(197, 197, 197);
    font-family: 'Century Gothic';
    font-size: 16px;
}

.paragraph h1{
    font-family: 'Century Gothic';
    font-size: 60px;
    font-weight: bold;
    color: ivory;
    text-align: center;
}
.paragraph {
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: bold;
    color:snow;
    display: block;
    text-align: justify;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
}
.events{
    margin-top: 10px;
    font-family: 'Century Gothic';
    
}
.events .content{
    position:fixed;
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
}
.events ul{
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    margin: 75px 0 0;
    box-sizing: border-box;
}
.events ul li{
    list-style: none;
    background: #ffff ;
    box-sizing: border-box ;
    height: 130px;
    margin-right: 15px;

}
.events ul li .time{
    position: relative;
    background-color: #262626;
    padding: 20px;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}
.events ul li .time h2{
    position: absolute;
    font-size: 30px;
    color: #80a7f0;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.events ul li .details{
    
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;

}   
.events ul li .details h3{
    
    position: relative;
    margin: 0 5px 0;
    padding: 0;
    font-size: 28px;

}
.events ul li .details p{
    
    position: relative;
    margin:10px 5px 0;
    padding: 0;
    font-size: 15px;

}
a{
    cursor: pointer;
}
.lop{
    background-color: #262626;
    margin-left: 98%;
    float: right;
}

h1
{
background-color:black;
text-align: center;
color: rgb(126, 171, 255);
margin: 50px 0 50px;
}
.gallery .a
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.gallery .b
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.gallery .c
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.gallery .d
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .e
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .f
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .g
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .h
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .i
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .j
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .k
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .l
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
