html
{
    background-color: black;
}
body
{
    font-family: sans-serif;
}
h1
{
background-color:black;
text-align: center;
color: palevioletred;
margin: 30px 0 50px;
}
.gallery .a
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.gallery .b
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.gallery .c
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.gallery .d
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .e
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .f
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .g
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.PHOTOS .h
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .i
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .j
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .k
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.G1 .l
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
